#nav {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: aquamarine;
    align-content: center;
    justify-content: space-between;
  }
  #nav > div > :nth-child(2) {
    margin-left: 10px;
  }